:root{
    --violet: #9823a9;
    --wine: #7f7f7f;

}

.container-list{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    display: inline-block;
    text-align: left;
    margin: 15px;
    width: 300px;
}
.text--active{
    text-decoration: line-through;
}

.item{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.list-item{
    display: flex;
    margin: 16px;
    font-size: 24px;
    width: 430px;
    padding: 10px;
    background:  #fff;
    box-shadow: 0px 37px 23px 0px rgba(0,0,0,0.1);
    border-radius: 15px;
    align-items: center;
}

.list-item img{
    width: 37px;
    height: 37px;
}

.check:hover{
    border-radius: 50px;
    background-color: #33f256;
}

.check--active{
    border-radius: 50px;
    background-color: #33f256;
}

.cancel:hover{
    border-radius: 50px;
    background-color: #f22210;
}

.cancel--active{
    border-radius: 50px;
    background-color: #f22210;
}

@media (max-width: 490px){
    .list-item{
        width: 90%;
    }

    .text{
        font-size: 18px;
        width: 70%;
    }

}

@media (max-width: 290px){
   .text{
        font-size: 14px;
   } 

   .list-item img{
        width: 30px;
        height: 30px;
    }
}

.checking{
    background: linear-gradient(var(--violet) var(--wine)) ;
    animation-name: loading;
}

@keyframes loading {
    0% {
      background-position: 0% 50%;  
    }
    50% {
      background-position: 50% 100%;
    }
    100%{
      background-position: 0% 50%;
    }
}

