@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Russo+One&display=swap');

.title{
    margin-top: 50px;
    padding: 20px;
    display: inline-block;
    font-family: 'Maven Pro';
    font-size: 40px;
    color: #313131;
}

.greatings{
    font-family: 'Russo One';
    color: #433080
}

@media (max-width: 515px){
    .title{
        font-size: 33px;
    }
}
